<main class="container mt-5">
  <h1 class="text-center mb-4">CONFIRA AS ÚLTIMAS ATUALIZAÇÕES:</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao1.jpg" class="card-img-top" alt="Atualização 1" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao2.jpg" class="card-img-top" alt="Atualização 2" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao3.jpg" class="card-img-top" alt="Atualização 3" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao4.jpg" class="card-img-top" alt="Atualização 4" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao5.jpg" class="card-img-top" alt="Atualização 5" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao6.jpg" class="card-img-top" alt="Atualização 6" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao7.png" class="card-img-top" alt="Atualização 7" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao8.jpg" class="card-img-top" alt="Atualização 8" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <a href="#" class="cards2 text-decoration-none">
        <div class="card">
          <img ngSrc="assets/imgs/atualizacao3.jpg" class="card-img-top" alt="Atualização 9" height="350" width="500">
          <div class="card-body">
            <p class="card-text">ATUALIZAÇÃO XXX.XXX.XXX</p>
            <p class="card-text">XX/XX/XXXX</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>
