<body>
<div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="primeiros-passos">
            <img src="assets/imgs/primeiros-passos.png" class="card-img-top" alt="primeiros-passos">
            <div class="card-body">
              <h5 class="card-title">Primeiros Passos</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="classes">
            <img src="assets/imgs/classes-jogo.png" class="card-img-top" alt="Imagem do Card">
            <div class="card-body">
              <h5 class="card-title">Classes</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="jogabilidade">
            <img src="assets/imgs/jogabilidade.png" class="card-img-top" alt="Imagem do Card">
            <div class="card-body">
              <h5 class="card-title">Jogabilidade</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5">
  <h1 class="text-center mb-4">REQUISITOS DE SISTEMA</h1>
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Componente</th>
              <th>Requisitos Mínimos</th>
              <th>Recomendado</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Processador</td>
              <td>Core i3</td>
              <td>Core i7</td>
          </tr>
          <tr>
              <td>Memória RAM</td>
              <td>4 GB</td>
              <td>16 GB</td>
          </tr>
          <tr>
              <td>Placa de Vídeo</td>
              <td>GTX 960</td>
              <td>RTX 3080</td>
          </tr>
          <tr>
              <td>Espaço em Disco</td>
              <td>20 GB</td>
              <td>20 GB</td>
          </tr>
      </tbody>
  </table>
</div>
    <div class="container mt-5">
      <h1 class="text-center mb-4">CONHEÇA O MAPA PRINCIPAL</h1>
      <img src="assets/imgs/mapa.png" class="img-fluid mx-auto d-block" alt="Mapa">
  </div>
</body>
